* {
  border: none;
  border-radius: 12px;
  font-family: "JetBrainsMono Nerd Font", "Noto Sans";
  font-size: 13px;
  min-height: 0;
}

window#waybar {
  background: transparent;
  color: #cdd6f4;
}

.modules-left,
.modules-center,
.modules-right {
  margin: 6px 8px;
}

#custom-launcher,
#workspaces,
#clock,
#pulseaudio,
#network,
#cpu,
#memory,
#battery,
#tray {
  background: rgba(17, 17, 27, 0.88);
  margin: 0 4px;
  padding: 6px 12px;
  border: 2px solid #313244;
}

#custom-launcher {
  color: #89b4fa;
  border-color: #89b4fa;
}

#clock {
  color: #8be9fd;
  border-color: #8be9fd;
}
